<%- include('partials/header')%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <label for="texttitle">Title</label><br>
    <input autocomplete="off" type="text" id="texttitle" name="title"><br><br>
    <label for="posttext">Post</label><br>
    <textarea id='posttext' name="body" cols="30" rows="10"></textarea><br><br>
    <button type="submit" name="button">Publish</button>
</form>
<%- include('partials/footer')%>